@import '../../theme/variables.scss';

.eventWrapper {

  .userColumn, .chatColumn {
    height: calc(75vh - 50px); // - fixed top bar height
    min-height: 400px;
    padding-bottom: 10px;
  }

  .userColumn {
    :global(ul.list-group) {
      overflow: auto;
      height: calc(100% - 63px); // - 'X User' header height
    }
  }

  .eventColumn {
    position: relative;

    .events {
      overflow: auto;
      height: calc(100% - 63px - 60px); // - 'X User' header height - form height
    }

    .controlBtn {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.navbarEventTitle{
  margin: 0;
}

.inlineBlock{
  display: inline-block;
}
